---
import Layout from '@/layouts/Layout.astro'
import StratBoard from '@/components/StratBoard.astro'
---

<Layout title="M5S">
  <div class="flex h-screen w-screen items-center justify-center">
    <StratBoard key="stratboard" />
  </div>
</Layout>

<script>
  import { listenKeys } from 'nanostores'
  import { Assets, Container, Graphics, Sprite } from 'pixi.js'

  import type { RoleType } from '@/lib/role'

  import { AoE } from '@/pixi/aoe'
  import { drawArrow } from '@/pixi/arrow'
  import { getScale, YmToPx, YmToPxMap } from '@/pixi/scale'
  import { $stratBoards } from '@/stores/stratBoards'

  import { Role } from '../../../../pixi/role'

  import floor_img from '/assets/07/m7s/floor_p1_1@3x.png?url'
  import omen_img from '/assets/fan/360_r20_purple@3x.png?url'
  import target_ring_img from '/assets/target_ring/r5@3x.png?url'
  import lock_on_img from '/game/vfx/lockon/eff/lockon5_t0h@3x.png?url'

  const name = 'no2g_place_solution_case_1'

  listenKeys($stratBoards, ['stratboard'], async (stratBoards) => {
    const app = stratBoards.stratboard

    const container = new Container()
    container.position.set(app.screen.width / 2, app.screen.height / 2)
    app.stage.addChild(container)

    const floorTexture = await Assets.load(floor_img)
    const floor = Sprite.from(floorTexture)
    floor.anchor.set(0.5, 0.5)
    floor.scale.set(getScale())
    container.addChild(floor)

    const aoeParams: { x: number; y: number }[] = [
      { x: 8, y: 8 },
      { x: 0, y: 8 },
      { x: 0, y: 0 },
      { x: 0, y: -6 },
    ]
    aoeParams.forEach((r) => {
      const circle = AoE.createCircle(7).toSprite(app)
      circle.position.set(r.x * YmToPx, r.y * YmToPx)
      container.addChild(circle)
    })

    const squareMask = new Graphics()
    const width = 40 * YmToPx
    squareMask.rect(-width / 2 + 0.01 * YmToPxMap[50], -width / 2 + 0.01 * YmToPxMap[50], width, width)
    squareMask.fill({ color: 'white' })
    container.mask = squareMask
    container.addChild(squareMask)

    // 紫圈
    const omenParams: { x: number; y: number }[] = [
      { x: 9, y: 9 },
      { x: -9, y: 9 },
      { x: 9, y: -9 },
      { x: -9, y: -9 },
    ]
    const omenTexture = await Assets.load(omen_img)
    const lockOnTexture = await Assets.load(lock_on_img)
    omenParams.forEach((r) => {
      const sprite = new Sprite(omenTexture)
      sprite.anchor.set(0.5, 0.5)
      sprite.scale.set((getScale() * 6) / 20)
      sprite.position.set(r.x * YmToPx, r.y * YmToPx)
      container.addChild(sprite)

      const lock_on_sprite = new Sprite(lockOnTexture)
      lock_on_sprite.anchor.set(0.5, 0.5)
      lock_on_sprite.scale.set((getScale() * 12) / 20)
      lock_on_sprite.position.set(r.x * YmToPx, (r.y - 3.5) * YmToPx)
      container.addChild(lock_on_sprite)
    })

    const targetRingTexture = await Assets.load(target_ring_img)
    const targetRing = Sprite.from(targetRingTexture)
    targetRing.anchor.set(0.5, 0.5)
    targetRing.position.set(0, -0.8 * YmToPx)
    targetRing.scale.set(1.4)
    targetRing.rotation = 0
    container.addChild(targetRing)

    const roleParam: { type: RoleType; tag: string; x: number; y: number }[] = [
      { type: 'ranged', tag: 'D3', x: -1.1, y: -7.3 },
      { type: 'magic', tag: 'D4', x: 1.1, y: -7.3 },
      { type: 'healer', tag: 'H1', x: -1.1, y: -9.8 },
      { type: 'healer', tag: 'H2', x: 1.1, y: -9.8 },
      { type: 'tank', tag: 'MT', x: -9, y: -9 },
      { type: 'tank', tag: 'ST', x: 9, y: -9 },
      { type: 'melee', tag: 'D1', x: -9, y: 9 },
      { type: 'dps', tag: 'D2', x: 9, y: 9 },
    ]

    roleParam.forEach((r) => {
      const role = new Role(r.type, r.tag)
      role.scale.set(0.4)
      role.position.set(r.x * YmToPx, r.y * YmToPx)
      container.addChild(role)
    })

    drawArrow(container, aoeParams[0], aoeParams[1], 0xffffff, 0.4, 1.5)
    drawArrow(container, aoeParams[1], aoeParams[2], 0xffffff, 0.4, 1.5)
    drawArrow(container, aoeParams[2], aoeParams[3], 0xffffff, 0.4, 1.5)

    // take screenshot
    await new Promise((resolve) => setTimeout(resolve, 1000))
    const url = await app.renderer.extract.base64(app.stage)
    const screenshot = document.createElement('a')
    document.body.append(screenshot)
    screenshot.style.position = 'fixed'
    screenshot.style.top = '20px'
    screenshot.style.right = '20px'
    screenshot.download = name
    screenshot.href = url
    const image = new Image()
    image.width = app.screen.width / 4
    image.src = url
    screenshot.innerHTML = image.outerHTML
  })
</script>
