---
import Layout from '@/layouts/Layout.astro'
import StratBoard from '@/components/StratBoard.astro'
---

<Layout title="M7S">
  <div class="flex h-screen w-screen items-center justify-center">
    <StratBoard class="scale-200" key="stratboard" />
  </div>
</Layout>

<script>
  import { listenKeys } from 'nanostores'
  import { Assets, Container, Graphics, Sprite } from 'pixi.js'

  import { getScale, YmToPx } from '@/pixi/scale'
  import { setWaymark } from '@/pixi/waymark'
  import { $stratBoards } from '@/stores/stratBoards'

  import { waymarkDataDB } from '../_waymark'

  import floor_img from '/assets/07/m7s/floor_p2_3@3x.png?url'
  import ice_flower_img from '/game/vfx/omen/eff/m0935mist_omen_o0p@3x.png?url'

  const name = 'zari_even_case_1'

  listenKeys($stratBoards, ['stratboard'], async (stratBoards) => {
    const app = stratBoards.stratboard

    const container = new Container()
    container.position.set(app.screen.width / 2, app.screen.height / 2)
    app.stage.addChild(container)

    const floorTexture = await Assets.load(floor_img)
    const floor = Sprite.from(floorTexture)
    floor.anchor.set(0.5, 0.5)
    floor.scale.set(getScale())
    container.addChild(floor)

    await setWaymark(container, waymarkDataDB, 0.65)

    const iceFlowerTexture = await Assets.load(ice_flower_img)
    const iceFlowerPos = [
      { x: -3.4, y: -3.4 },
      { x: -21, y: -3.4 },
      { x: 21, y: -3.4 },
      { x: 14.05, y: 7.4 },
    ]

    iceFlowerPos.forEach(({ x, y }) => {
      const iceFlower = Sprite.from(iceFlowerTexture)
      iceFlower.scale.set(getScale())
      iceFlower.position.set(x * YmToPx, y * YmToPx)
      iceFlower.anchor.set(0.5, 0.5)
      container.addChild(iceFlower)
    })

    // const roleParams: { type: RoleType; tag: string; x: number; y: number }[] = [
    //   { type: 'healer', tag: 'H1', x: -3.5 - 1, y: -5.5 },
    //   { type: 'healer', tag: 'H2', x: -3.5 + 1, y: -5.5 },
    //   { type: 'tank', tag: 'MT', x: -3.5 - 1, y: -6.5 },
    //   { type: 'tank', tag: 'ST', x: -3.5 + 1, y: -6.5 },
    //
    //   { type: 'dps', tag: 'D2', x: -22.25, y: -2.2 },
    //   { type: 'melee', tag: 'D1', x: -22.25, y: -3.2 },
    //   { type: 'ranged', tag: 'D3', x: -19, y: -3.2 },
    //   { type: 'ranged', tag: 'D3', x: -19, y: 4.1 },
    //
    //   { type: 'ranged', tag: 'D3', x: 22.25, y: -3.2 },
    //
    //   { type: 'magic', tag: 'D4', x: 14, y: 10 },
    // ]
    //
    // roleParams.forEach((r) => {
    //   const role = new Role(r.type, r.tag)
    //   role.scale.set(0.3)
    //   role.position.set(r.x * YmToPx, r.y * YmToPx)
    //   container.addChild(role)
    // })
    //
    // const safePoint: { x: number; y: number; width: number; height: number; color: string; radius: number }[] = [
    //   { x: -34, y: -34, width: 10, height: 10, color: '#FF0000', radius: 50 },
    //   { x: 140.5, y: 74, width: 10, height: 10, color: '#FF0000', radius: 50 },
    //   { x: 210, y: -34, width: 10, height: 10, color: '#FF0000', radius: 50 },
    //   { x: -210, y: -34, width: 10, height: 10, color: '#FF0000', radius: 50 },
    //   { x: -210, y: 34, width: 10, height: 10, color: '#00FF00', radius: 50 },
    // ]
    // safePoint.forEach((r) => {
    //   const point = new Graphics()
    //   // point.pivot.set(0.5, 0.5)
    //   point.roundRect(
    //     r.x - r.radius*0.1,
    //     r.y - r.radius*0.1,
    //     r.width,
    //     r.height,
    //     r.radius
    //   ).fill(r.color)
    //   container.addChild(point)
    // })

    const squareMask = new Graphics()
    const width = floor.width // 46.4
    const height = floor.height
    squareMask.rect(-width / 2, -height / 2, width, height)
    squareMask.fill({ color: 'white' })
    container.mask = squareMask
    container.addChild(squareMask)

    // take screenshot
    await new Promise((resolve) => setTimeout(resolve, 1000))
    const url = await app.renderer.extract.base64(app.stage)
    const screenshot = document.createElement('a')
    document.body.append(screenshot)
    screenshot.style.position = 'fixed'
    screenshot.style.top = '20px'
    screenshot.style.right = '20px'
    screenshot.download = name
    screenshot.href = url
    const image = new Image()
    image.width = app.screen.width / 4
    image.src = url
    screenshot.innerHTML = image.outerHTML
  })
</script>
