---
import Layout from '@/layouts/Layout.astro'
import StratBoard from '@/components/StratBoard.astro'
---

<Layout title="M7S">
  <div class="flex h-screen w-screen items-center justify-center">
    <StratBoard class="scale-200" key="stratboard" />
  </div>
</Layout>

<script>
  import { listenKeys } from 'nanostores'
  import { Assets, Container, Graphics, Sprite, Text } from 'pixi.js'

  import type { CombinedRoleType, RoleType } from '@/lib/role'

  import { createRoleIcon } from '@/pixi/role'
  import { getScale, YmToPx } from '@/pixi/scale'
  import { setWaymark } from '@/pixi/waymark'
  import { $stratBoards } from '@/stores/stratBoards'

  import { waymarkDataDB } from '../_waymark'

  import floor_img from '/assets/07/m7s/floor_p2_3@3x.png?url'

  const name = 'zari_place_overview'

  listenKeys($stratBoards, ['stratboard'], async (stratBoards) => {
    const app = stratBoards.stratboard

    const container = new Container()
    container.position.set(app.screen.width / 2, app.screen.height / 2)
    app.stage.addChild(container)

    const floorTexture = await Assets.load(floor_img)
    const floor = Sprite.from(floorTexture)
    floor.anchor.set(0.5, 0.5)
    floor.scale.set(getScale())
    container.addChild(floor)

    await setWaymark(container, waymarkDataDB, 0.65)

    // 绘制点位
    const safePoint: { x: number; y: number; width: number; height: number; color: string; radius: number }[] = [
      { x: -34, y: -34, width: 8, height: 8, color: '#2563eb', radius: 50 },
      { x: 140.5, y: 74, width: 8, height: 8, color: '#ff751f', radius: 50 },
      { x: 210, y: -34, width: 8, height: 8, color: '#ff751f', radius: 50 },
      { x: -210, y: -34, width: 8, height: 8, color: '#ff751f', radius: 50 },
      { x: -210, y: 34, width: 8, height: 8, color: '#7e22ce', radius: 50 },
    ]
    safePoint.forEach((r) => {
      const point = new Graphics()
      // point.pivot.set(0.5, 0.5)
      point.roundRect(r.x - r.radius * 0.1, r.y - r.radius * 0.1, r.width, r.height, r.radius).fill(r.color)
      point.stroke({ color: '#ffffff', width: 1 })
      container.addChild(point)
    })

    // 绘制对应数字
    const numberParam: { text: string; x: number; y: number; color: string }[] = [
      { text: '1', x: -22.5, y: -3.5, color: '#ff751f' },
      { text: '2', x: 16, y: 7.4, color: '#ff751f' },
      { text: '3', x: 22.5, y: -3.5, color: '#ff751f' },
    ]
    numberParam.forEach((r) => {
      const text = new Text({
        text: r.text,
        style: {
          fontSize: 25,
          fill: r.color,
          fontFamily: 'Arial',
          align: 'center',
          stroke: { color: 'white', width: 1 },
        },
      })
      text.anchor.set(0.5, 0.5)
      text.position.set(r.x * YmToPx, r.y * YmToPx)
      container.addChild(text)
    })

    // 绘制职能点位
    const roleParams: { type: CombinedRoleType | RoleType; tag: string; x: number; y: number }[] = [
      { type: 'tank|healer', tag: '', x: 0, y: -11 },
      { type: 'melee', tag: '', x: -23.5, y: -11 },
      { type: 'ranged', tag: 'D3', x: -23.5, y: 10.75 },
      { type: 'ranged', tag: 'D3', x: 23.5, y: -11 },
      { type: 'magic', tag: 'D4', x: 0, y: 10.75 },
    ]
    roleParams.forEach((r) => {
      const role = createRoleIcon(r.type, r.tag)
      role.scale.set(0.4)
      role.position.set(r.x * YmToPx, r.y * YmToPx)
      container.addChild(role)
    })

    const squareMask = new Graphics()
    const width = floor.width // 46.4
    const height = floor.height
    squareMask.rect(-width / 2, -height / 2, width, height)
    squareMask.fill({ color: 'white' })
    container.mask = squareMask
    container.addChild(squareMask)

    // take screenshot
    await new Promise((resolve) => setTimeout(resolve, 1000))
    const url = await app.renderer.extract.base64(app.stage)
    const screenshot = document.createElement('a')
    document.body.append(screenshot)
    screenshot.style.position = 'fixed'
    screenshot.style.top = '20px'
    screenshot.style.right = '20px'
    screenshot.download = name
    screenshot.href = url
    const image = new Image()
    image.width = app.screen.width / 4
    image.src = url
    screenshot.innerHTML = image.outerHTML
  })
</script>
