---
import Layout from '@/layouts/Layout.astro'
import StratBoard from '@/components/StratBoard.astro'
---

<Layout title="M8S2">
  <div class="flex h-screen w-screen items-center justify-center">
    <StratBoard key="stratboard" />
  </div>
</Layout>

<script>
  import { listenKeys } from 'nanostores'
  import { Assets, Container, Sprite } from 'pixi.js'

  import type { RoleType } from '@/lib/role'

  import { Role } from '@/pixi/role'
  import { getScale, YmToPx } from '@/pixi/scale'
  import { $stratBoards } from '@/stores/stratBoards'

  import { platform_to_coord } from '../_utils.ts'

  import floor_img from '/assets/07/m8s2/floor_p12cut@3x.png?url'
  import stack_tower_img from '/game/vfx/omen/eff/share_trap01k1@3x.png?url'

  const name = 'enrage3'

  listenKeys($stratBoards, ['stratboard'], async (stratBoards) => {
    const app = stratBoards.stratboard

    const container = new Container()
    container.position.set(app.screen.width / 2, app.screen.height / 2)
    app.stage.addChild(container)

    const floorTexture = await Assets.load(floor_img)
    const floor = Sprite.from(floorTexture)
    const YmToPxLarge = YmToPx * 1.25
    floor.anchor.set(0.5, 0.5)
    floor.scale.set(getScale() * 1.25)
    container.addChild(floor)

    const towerTexture = await Assets.load(stack_tower_img)
    const tower = Sprite.from(towerTexture)
    tower.anchor.set(0.5, 0.5)
    tower.scale.set(0.93)
    const towerPos = platform_to_coord(2)
    tower.position.set(towerPos.x * YmToPxLarge, towerPos.y * YmToPxLarge)
    tower.blendMode = 'overlay'
    container.addChild(tower)

    const roleParams: {
      type: RoleType
      tag: string
      platform: number
      offset: { vertical: number; horizontal: number }
    }[] = [
      { type: 'tank', tag: 'MT', platform: 3, offset: { vertical: -3, horizontal: -1 } },
      { type: 'healer', tag: 'H1', platform: 3, offset: { vertical: 0, horizontal: -1 } },
      { type: 'melee', tag: 'D1', platform: 3, offset: { vertical: -2, horizontal: -3 } },
      { type: 'ranged', tag: 'D3', platform: 3, offset: { vertical: 3, horizontal: -1 } },
      { type: 'dps', tag: 'D2', platform: 3, offset: { vertical: -3, horizontal: 1 } },
      { type: 'magic', tag: 'D4', platform: 3, offset: { vertical: 3, horizontal: 2 } },
      { type: 'tank', tag: 'ST', platform: 2, offset: { vertical: 0, horizontal: 0 } },
      { type: 'healer', tag: 'H2', platform: 3, offset: { vertical: 0, horizontal: 1 } },
    ]

    roleParams.forEach((r) => {
      const role = new Role(r.type, r.tag)
      role.scale.set(0.4)

      const pos = platform_to_coord(r.platform, r.offset, YmToPxLarge)

      role.position.set(pos.x, pos.y)
      container.addChild(role)
    })

    // take screenshot
    await new Promise((resolve) => setTimeout(resolve, 1000))
    const url = await app.renderer.extract.base64(app.stage)
    const screenshot = document.createElement('a')
    document.body.append(screenshot)
    screenshot.style.position = 'fixed'
    screenshot.style.top = '20px'
    screenshot.style.right = '20px'
    screenshot.download = name
    screenshot.href = url
    const image = new Image()
    image.width = app.screen.width / 4
    image.src = url
    screenshot.innerHTML = image.outerHTML
  })
</script>
